* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

img {
  margin: 0 auto;
  max-width: 150px;
  height: auto;
}
